.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.btn-regular{
    background-color: #1C2B35;
    color: white;
    width: 180px;
    height: 40px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.icon-color{
    color: gold;
}
.product-details{
    margin-left: 30px;
}